.About{
    max-width: 60rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem;
}
.Abouthead{
    color: gold;
}
.edu{
    margin-top: 1rem;
}
.clg{
    
    max-width: 65rem;
    justify-content: centre;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.clgedu, .sch12, .sch10 {
background-color: rgb(50,50,50);
padding: 1.3rem;
margin: 0.5rem;
width: 100%;
border: none;
border-radius: 1rem;
}
.clgmark{
    margin-left: 15rem;
    font-size: large;
}
.schmark{
    margin-left: 16.80rem;
    font-size: large;
}
h3{
    font-size: 25px;
}
.clgdetails{
    font-weight: 100;
}
.Eduhead{
    margin-top: 1rem;
}