.contact{
    overflow: hidden;
    display: flex;
    flex-direction: column;
   
    text-align: center;
    margin: 0 auto;  
}
.contactform{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}
.name, .email, .msg {
 font-size: medium;
 width: 100%;
 max-width: 40rem;
 margin: 0.5rem;
 padding: 0.5rem 1rem;
 color: white;
 border: none;
 border-radius: 0.5rem;
 background-color: rgb(40, 40,40);
}
.sbtn{
    background-color: gold;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin: 2rem;
}
.contacthead{
    color: gold;
}